@import 'shared/styles/vars.scss';
@import 'shared/styles/typography.scss';

.override-mui-menu {

  .menu {
    width: 220px;
  }

  .MuiPaper-root {

    .MuiList-root {
      padding: 0;
    }

    .MuiDivider-root {
      margin: 3px 3px;
    }
  }

}