@import 'shared/styles/vars';

.root {
  display: flex;
  height: 100vh;

  .workArea {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: calc(100% - 300px);
  }
}

.test {
  width: 146px;
  height: 146px;
}

.test2 {
  width: 150px;
  height: 20px;
}

