@import "shared/styles/vars";
@import "shared/styles/typography";

.position {
  display: inline-block;
  padding: 7px 8px;
  border: 1px solid $gray5;
  border-radius: 100px;
  max-width: 178px;
  // text-overflow: ellipsis;
}

.idMKB {
  text-decoration: underline;
}

.headerColumnContainer {
  display: flex;
  align-items: center;
  .icon {
    div {
      display: flex;
    }
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 18px;

  .filtersLeft {
    display: flex;
    gap: 12px;

    .icon {
      cursor: pointer;

      div {
        display: flex;
      }
    }

    .search {
      display: flex;
      align-items: center;
      padding: 0 8px;
      gap: 8px;
      border: 1px solid $gray8;
      border-radius: 6px;
      height: 34px;
      box-sizing: border-box;
      box-shadow: $shadow2;

      .searchInput {
        outline: none;
        border: unset;
        color: $gray76;
        font: $fontMediumS;
        line-height: $lineHeightS;

        &::placeholder {
          color: $gray50;
        }
      }

      &:focus-within {
        border-color: $primary;
      }
    }

    .button {
      display: flex;
      align-items: center;
      padding: 0 8px;
      gap: 8px;
      border: 1px solid $gray8;
      border-radius: 6px;
      height: 34px;
      box-sizing: border-box;
      box-shadow: $shadow2;
      cursor: pointer;
      color: $gray76;

      &:hover {
        background: $gray2;
        border-color: $gray10;
      }
    }
  }
}

