@import 'shared/styles/vars';

.count {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  top: 79px;
  color: $gray76;
}

.title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  top: 79px;
  color: $gray50;
}