$white: #FFFFFF;
$black: #000000;

$gray1: rgba(0, 0, 0, 0.01);
$gray2: rgba(0, 0, 0, 0.02);
$gray4: rgba(0, 0, 0, 0.04);
$gray5: rgba(0, 0, 0, 0.05);
$gray8: rgba(0, 0, 0, 0.08);
$gray10: rgba(0, 0, 0, 0.1);
$gray20: rgba(0, 0, 0, 0.2);
$gray50: rgba(0, 0, 0, 0.5);
$gray76: rgba(0, 0, 0, 0.76);
$gray80: rgba(0, 0, 0, 0.80);

$primary: #5956FF;
$primary110: #4846CF;

$error: #FF0000;

$shadow2: 0px 2px 3px 2px rgba(0, 0, 0, 0.02)
